.body {
  width: 5%;
  height: 100vh;
  margin-top: 4rem;
}

.link>div {
  position: relative;
  left: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: black;
  text-decoration: none;
}

.section1 .img {
  width: 1.5rem;
  height: auto;
}

.link>div>h5 {
  font-size: 1.1rem;
  position: relative;
  top: -1rem;
}

@media (max-width: 768px) {
  .body {
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0rem;
    z-index: 99;
    height: 7.5rem;
    width: 100%;
  }

  .section1 {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 2rem;
  }

  .section1 .img {
    width: 1.5rem;
    height: auto;
    color: white;
    /* position: relative;
    top: -5rem; */
  }

  .link>div>h5 {
    color: white;
  }
}