.body {
  width: 5%;
  height: 100vh;
  margin-top: 4rem;
}

.link>div {
  position: relative;
  left: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: black;
  text-decoration: none;
}

.section1 .img {
  width: 1.5rem;
  height: auto;
}

.link>div>h5 {
  font-size: 1.1rem;
  position: relative;
  top: -1rem;
}

@media (max-width: 768px) {
  .section1 {
    position: fixed;
    top: unset;
    bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    right: 0.1rem;
    background-color: rgb(17, 0, 31);
    z-index: 99;
    height: 25rem;
    width: 100%;
  }

  .link {
    padding: 0;
  }

  .section1 .img {
    width: 5rem;
    height: auto;
    color: white;
    /* position: relative;
    top: -5rem; */
  }

  .link>div {
    margin-top: 3rem;
    /* margin: 0; */
    padding: 0.1rem 0rem;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .link>div>h5 {
    /* position: relative;
    top: -7.8rem; */
    font-size: 3rem;
    color: white;
  }

}