.main_responsive>.stocks_insight {
    display: none;
}

.main_responsive>.pages {
    display: none;
}


@media (max-width: 768px) {
    .main_responsive {
        /* background-color: rgba(121, 0, 0, 0.402); */
    }

    .main_responsive>.stocks_insight {
        position: relative;
        top: 30rem;
        left: 4.2rem;
        display: flex;
        align-items: center;
        gap: 13.2rem;
    }

    .main_responsive>.stocks_insight>.link {
        text-decoration: none;
    }

    .main_responsive>.stocks_insight>.link>div {
        padding: 0.1rem 9rem;
        border-radius: 18px;
        width: 100%;
        max-width: 20rem;
    }

    .main_responsive>.stocks_insight>.link>.stocks {
        background-color: var(--bg-responsive-color);
        color: rgb(255, 255, 255);

    }

    .main_responsive>.stocks_insight>.link>.insights {
        background-color: rgba(136, 0, 209, 0.174);
        margin-left: -4.8rem;
        backdrop-filter: blur(1px);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: rgb(56, 0, 67);

    }

    .main_responsive>.stocks_insight>.link>div>p {
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
    }

    .main_responsive>.pages {
        position: relative;
        top: 35.5rem;
        left: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 47rem;
        background-color: rgba(128, 128, 128, 0.221);
        border-radius: 26px;
        height: 5rem;
        padding: 1.5rem 0;
        opacity: 0.8;
    }

    .main_responsive>.pages>p {
        font-size: 3rem;
        color: black;
        position: relative;
        left: 25rem;
    }

    .main_responsive>.pages>div>.arrow {
        width: 3rem;
        height: 5rem;
        color: rgb(0, 0, 0);
        background-color: white;
        border-radius: 50%;
        padding: 0 1rem;
    }

}