.section3-flex {
    display: flex;
    justify-content: space-between;
    /* gap: 5rem; */
    /* display: none; */
}

.section3 {
    position: relative;
    top: 2.4rem;
    width: 57.9%;
}

.section3 .orders {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    /* margin-left: 2rem; */
}

.section3 .orders .link {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    left: 4rem;
}

.hr {
    width: 100%;
    position: relative;
    top: -0.75rem;
    opacity: 0.3;
}

.mainstocks-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0;
    padding: 0 2rem;
}

.mainstocks-main .mainstocks {
    background-color: rgba(128, 128, 128, 0.139);
    border-radius: 8px;
    padding: 0.3rem 1rem;
    height: 6rem;
}

.section3 .mainstocks>div>div {
    margin-top: 0.1rem;
}

.section3 .mainstocks>p {
    text-align: center;
    color: black;
    margin-top: -1.3rem;
}

.mainstocks-main .mainstocks .image {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mainstocks-main .mainstocks .image .stock-name {
    display: flex;
    flex-direction: column;
    margin-top: -1.3rem;
}

.mainstocks-main .mainstocks .image img {
    width: 2.5rem;
    height: 2rem;
    margin-top: 0rem;
}

.mainstocks-main .mainstocks .image .stock-name>p {
    font-size: 1.3rem;
}

.mainstocks-main .mainstocks .image .stock-name span {
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
}

.mainstocks-main .mainstocks>div {
    display: flex;
    justify-content: space-between;
}

.mainstocks-main .mainstocks .percentage {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.mainstocks-main .mainstocks .percentage>h6 {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .hr {
        display: none;
    }

    .section3-flex {
        display: block;
    }

    .section3 {
        z-index: -1;
        position: relative;
        top: 14rem;
        width: 100%;
    }

    .section3>.orders {
        display: none;
    }

    .mainstocks-main {
        /* align-items: center; */
        width: 100%;
        padding: 0;
    }

    .mainstocks-main .mainstocks {
        height: 100%;
        position: relative;
        /* right: 2rem; */
        padding: 0 1rem;
    }

    .mainstocks-main .mainstocks>div>div {
        margin-top: 1rem;
    }

    .mainstocks-main .mainstocks>div {
    }

    .mainstocks-main .mainstocks .image .stock-name>p {
        font-size: 1rem;
    }

    .mainstocks-main .mainstocks .image .stock-name>span {
        font-size: 1.1rem;
    }

    .section3 .mainstocks>p {
        position: relative;
        /* left: 4rem; */
        margin-top: -1.9rem;
    }

    .mainstocks-main .mainstocks .percentage {
        gap: 1rem;
        position: relative;
        top: -0.4rem;
    }
    
}