:root {
    --menu-bg-color: rgba(255, 255, 255, 0.897);
    --link-color: black;
    --bg-sidebar-color: rgba(255, 255, 255, 0.527);
    --box-shadow-color: rgba(0, 0, 0, 0.19);
    --bg-responsive-color: rgb(5, 5, 173);
}