.section2 {
    width: 35%;
    height: 100vh;
    margin-top: 2.7rem;
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.126);
    padding: 0 1rem;
}

.section2 .input {
    width: 100%;
}

.section2 .input>input {
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.16);
    padding: 1.1rem 0;
    width: 100%;
}

.section2 .stocks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section2 .stocks>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.105);
    line-height: 1px;
    /* width: 34rem; */
    width: 100%;
}

.section2 .stocks>div>h4 {
    font-size: 1.5rem;
    color: black;
    font-weight: 400;
}

.section2 .stocks>div>div>span {
    margin: 0 1rem;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .section2 {
        display: none;
    }
}